[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fs = "*"
google-api-python-client = "*"
"oauth2client" = "*"
google-auth = "*"

[dev-packages]
pytest = "*"
requests-oauthlib = "*"
pyperclip = "*"

[requires]
python_version = "3.7"
