[tool.poetry]
name = "fs.googledrivefs"
packages = [
    { include = "fs"}
]
version = "1.5.0"
description = "Pyfilesystem2 implementation for Google Drive"
authors = ["Rehan Khwaja <rehan@khwaja.name>"]
license = "MIT"
homepage = "https://github.com/rkhwaja/fs.googledrivefs"
keywords = ["filesystem", "Pyfilesystem2", "google"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.6"
fs = ">=2.4.10"
google-api-python-client = ">=1.6.3"
google-auth = ">=1.5.1"

[tool.poetry.dev-dependencies]
pytest = "^3.10"
pytest-timeout = "^1.3.3"
requests-oauthlib = "^1.0"
pyperclip = "^1.7"
pylint = ">=2.5.3"
coveralls = "^2.0.0"
pylint-quotes = "^0.2.1"

[tool.poetry.plugins] # Optional super table

[tool.poetry.plugins."fs.opener"]
"googledrive" = "fs.googledrivefs.opener:GoogleDriveFSOpener"

[tool.pylint.format]
indent-string = "\t"
max-line-length = "200"
string-quote = "double"

[tool.pylint.messages_control]
# no-member to remove false positives with objects constructed via google's discovery protocol
disable = [
	"bad-continuation",
	"fixme",
	"invalid-name",
	"len-as-condition",
	"line-too-long",
	"logging-format-interpolation",
	"logging-fstring-interpolation",
	"missing-docstring",
	"no-member"
]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
